body {
    margin : 0;
}


header {
    border:0.5px dashed red;
}

main {
    border:0.5px dashed #FF9100;
    height : 100%;
}

footer {
    border:0.5px dashed black;
}

/* 상단 배너 영역 */
.banner > a > img {
    width:100%;
    height:100%;
}

/* sub_header 영역 */
.sub_header {
    height:200px;
    border:0.1px dashed yellow;
}
.logo_img {
    border : 0.1px dashed red;
    display:inline-block;
    /* a 태그도 인라인태그니까 인라인 배치하면서 블록으로 설정하여 크기 조정하려는 의도 */
    padding:40px 30px;
    /* 로고 이미지(a태그)를 수직,수평으로 가운데 정렬한다.(패딩으로 모든 방향의 값을 같게 줌) */
    /* background-color: black; */
}

/* 로그인 영역 */
#login {
    /* display: inline-block; */
    /* inline-block 값을 주었지만 밑에 있는 float속성이 block을 무시한다는 경고문이 등장하여 제거하였음. */
    position : relative;   /* 부모영역은 sub_header */
    top : 0px;
    float: right;
    /* float 속성을 right로 줌으로써 span태그인 login을 오른쪽에 떠있게 한 것 */
    /* block 레벨의 요소를 가로로 정렬하기 위해 쓰인다고 한다. */
    /* 그렇기 때문에 position 에 absolute를 주어서 고정시키는 것은 float과 충돌하기 때문에 absolute 적용에 주의해야한다. */
    /* 주관적으로 정리하자면 inline-block이 적용되면 발생하는 공백 문제를 해결할 때 float 속성을 떠올리면 될 것 같다..? */
    background-color:#B9E2FA;
}
#login > h2 {
    position : relative;
    left : 50px;
    /* 부모요소인 login을 기준으로 위치 정렬 */
}
#login > form{
    /* form은 block 태그 */
    background-color: gray;
}
.log_input_wrap {
    display: inline-block;
    position : relative;
    /* 부모요소인 폼태그를 기준으로 위치 정렬 */
    padding : 30px 10px;
    /* background-color: red; */
}
.log_email_wrap {
    margin : 10px;
    /* 라벨과 인풋 사이 넓히기 */
}
.log_btn_wrap {
    display: inline-block;
    position:relative;          /* 부모요소는 form */
    bottom : 20px;
    /* background-color: green; */
}
.log_btn_wrap > button {
    background-color: brown;
    color: aliceblue;
    padding : 20px;
    margin: 10px 10px;
}

/* 네비게이션바 영역 */

/*
.nav_bar_wrap {
    position:relative;
    /* 부모요소인 nav태그를 기준으로 정렬할 생각 
    display:inline-block;
    width : 70%;
}
.nav_bar_wrap > ul > li {
    display: inline-block;
    /* ul이 블록레벨이니까 inline으로 줘서 좌우로 펼치게 
    list-style-type: none;
    margin : 0px 20px;
}
.nav_bar_wrap > ul > li > a {
    display : block;
    /* a 태그가 인라인이니까 크기 조절을 위해 block 
    width : 70px;
    padding : 10px;
    text-align: center;
    text-decoration-line: none;
    color : black;
}
.search {
    display: inline-block;
    margin : 0px 40px;
} flex를 이용하여 다시 작성할 거라 모두 주석처리 */

#nav_bar {
    border:0.1px dashed blue;
    left:0;
    position : sticky;
    top:0;
    display : flex;
    align-items: center;
    justify-content:space-around;
    z-index:100;
    background-color: blueviolet;
}

.nav_bar_wrap {
    /* z-index:100; */
    display:flex;
    /* 나중에 배치를 위해 일단 선언 */
}

.nav_bar_wrap > ul {
    display: flex;
    /* 나중에 배치를 위해 일단 선언 */
}

.nav_bar_wrap > ul > li {
    display: inline-block;
    list-style-type: none;
    margin : 0 50px;
}

.nav_bar_wrap > ul > li > a {
    text-decoration-line: none;
    color : black;
    font-size : 1rem;
}


/* 콘텐츠 영역 */
/* #trailer {
    z-index : -1;
    width : 100%;
    height : 100%;
} */

#trailer_2 {
    position:relative;
    overflow: hidden;
    width:100vw;
    height:100vh;
    z-index:-1; /* 영상 클릭 시 재생중지되는 것을 막기 위해 뒤로 숨김 */
}

#trailer_2 > iframe {
    position : absolute;
    top : 50%;
    left : 50%;
    width : 100vw;
    height : 100vh;
    transform : translate(-50%, -50%);
}
/* 미디어쿼리 이용 */
@media (min-aspect-ratio: 16/9) {  /* 뷰포트 너비가 16/9 비율 이상이면 실행 */
    #trailer_2 > iframe {
      /* height = 100 * (9 / 16) = 56.25 */
      height: 56.25vw;
    }
}
@media (max-aspect-ratio: 16/9) {   /* 뷰포트 너비가 16/9 비율 이하면 실행 */
    #trailer_2 > iframe {
      /* width = 100 / (9 / 16) = 177.777777 */
      width: 177.78vh;
    }
}

#trailer_description {
    background-color: #333;
    position : absolute;
    top : 90%;
    left : 10%;
    padding : 10px 50px;
    width : 400px;
    opacity: 0.7;
}

#trailer_description > p, #trailer_description > h2 {
    color :aliceblue;
}

#trailer_description > ul > li {
    display: inline-block;
    list-style-type: none;
    margin : 0 20px;
}

#trailer_description > ul > li > a {
    text-decoration-line: none;
    color :aliceblue;
}

/* 무비차트 영역 */
#movie_chart {
    padding : 20px 0px;
    background-color:beige;
}
.tap_button_wrap {
    padding : 30px 20px;
}
.tap_button_wrap > h2 {
    display: inline-block;
    margin : 0 20px;
}
.tap_button_wrap > h2 > a {
    text-decoration-line: none;
    color : black;
    font-size: 1em;
}
.vertical_line {
    display: inline-block;
    border-left:3px solid black;
    height:32px;
    position : absolute;
}
/*
#movie_chart_list {
    display: flex;
    justify-content: space-around;
    margin-top : 20px;
}
#movie_chart_list_wrap {
    display: flex;
    width : 80vw;
    justify-content: space-around;
}
.chart_list {
    display: flex;
    flex-direction: column;
}
.list_img > a > img {
    width : 200px;
    height : 250px;
    border-radius : 20px;
}
.list_description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.satisfaction {
    margin-right:10px;
}
@media screen and (orientation:portrait) {
    .tap_button_wrap {
        display: flex;
        justify-content: center;
    }
}
@media (hover:hover) {
    .tap_button_wrap > h2 > a {
        color:#FF9100;
    }
}
@media screen and (orientation:portrait) {
    #movie_chart_list_wrap {
        flex-direction: column;
        align-items: center;
    }
} */
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
    justify-content: center;
    
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}
#recipeCarousel {
    display: flex;
    justify-content: center;
}
.carousel-inner {
    width:80vw;
}

.col-md-2 {
    margin : 0 10px;
    width : 200px;
}
.card-rating {
    position : absolute;
    font-weight: 400;
    font-size:50px;
    font-style:italic;
    color:aliceblue;
    left:9px;
    top : 120px;
    background-color: #333;
    width:30px;
    line-height: 1em;
    border-radius: 50px;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-description {
    display: inline-block;
}
.movie_chart_prev {
    width : 2vw;
    position : absolute;
    left : 8%;
    background-color:#ce5606d0;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
}
.movie_chart_next {
    width : 2vw;
    position : absolute;
    right : 8%;
    background-color:#ce5606d0;
}
.carousel-control-next-icon {
    background-color: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}


/* 이벤트 영역 */
#event_list_wrap {
    padding-left : 30px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    background-color:#B9E2FA;
}
#event_title_wrap {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    gap : 20px;
}
/* #event_title_wrap:nth-child(n+2) {
    display: grid;
    align-items: center;
    justify-items: center;
} */
.event_pause_btn {
    display: grid;
    align-items: center;
    justify-items:flex-end;
}
.event_all_view_btn {
    display: grid;
    align-items: center;
}
.event_all_view_btn > a {
    display: inline-block;
    text-decoration: none;
    color:black;
    width : 80px;
}
#event_img_wrap {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template : 1fr / 1fr 1fr 1fr 1fr 1fr;
    /* grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr; */
}
.event_list {
    display: grid;
    height:250px;
    grid-template-rows: 3fr 1fr;
}
.event_list_img {
    width : 250px;
}
.event_list_img > a > img {
    border-radius: 10px;
}
.event_list_description {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.event_description_title {
    width : 250px;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap; /* 연속된 공백을 하나로 합침 */
    font-weight: bold;
}
@media screen and (orientation:portrait) {
    /* 세로모드일 때 아래를 실행 */
    #event_title_wrap {
        height : 20vh;
    }
}
@media screen and (orientation:portrait) {
    /* 세로모드일 때 아래를 실행 */
    .event_pause_btn, .event_all_view_btn {
        align-items: flex-start;
        padding : 30px 0;
    }
}
@media screen and (orientation:portrait) {
    /* 세로모드일 때 아래를 실행 */
    #event_list_wrap {
        grid-template: 1fr / 1fr;
    }
}
@media screen and (orientation:portrait) {
    /* 세로모드일 때 아래를 실행 */
    #event_img_wrap {
        grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr;
        justify-items: center;
    }
}
@media screen and (orientation:portrait) {
    /* 세로모드일 때 아래를 실행 */
    .event_list_img > a > img {
        width : 200px;
    }
}