body {
    margin : 0;
}

main {
    /* border:0.5px dashed #FF9100; */
    height : 100%;
}

/* 상단 배너 영역 */
.banner {
    width : 100%;
}
.banner > a > img {
    width:100%;
    height:100%;
}

/* 네비게이션바 영역 */

.navbar-collapse {
    width : 50%;
    justify-content: space-around;
}
.navbar .nav-item:hover .dropdown-menu {
    display: block;
    margin-top : 0;
}
.navbar-nav {
    gap : 28px;
}
#bootstrap-overrides .nav-link.active {
    /* bootstrap.css 보다 우선순위로 적용시키기 위해 body의 id값 이용 */
    color :red;
    font-weight: bold;
}
/* .nav-link > ul > li:hover , .nav-link > .dropdown-menu > li > a:hover {
    color : red;
} */
#bootstrap-overrides .nav-item > a:hover {
    color : rgb(212, 120, 14);
    font-weight : bolder;
}
#bootstrap-overrides .dropdown-item {
    color :#455158;
}
#bootstrap-overrides .navbar .dropdown-item:hover,
#bootstrap-overrides .navbar .dropdown-item:focus {
    color : rgb(212, 120, 14)
}
#bootstrap-overrides .navbar .dropdown-item:active {
    color : #fff;
    text-decoration: none;
    background-color: #FF9100;
}


/* 콘텐츠 영역 */

#trailer_2 {
    position:relative;
    overflow: hidden;
    width:100vw;
    height:65vh;
}

#trailer_2 > iframe {
    position : absolute;
    top : 50%;
    left : 50%;
    width : 100vw;
    height : 100vh;
    transform : translate(-50%, -55%);
    z-index:-1; /* 영상 클릭 시 재생중지되는 것을 막기 위해 뒤로 숨김 */
}
/* 미디어쿼리 이용 */
@media (min-aspect-ratio: 16/9) {  /* 뷰포트 너비가 16/9 비율 이상이면 실행 */
    #trailer_2 > iframe {
      /* height = 100 * (9 / 16) = 56.25 */
      height: 50.25vw;
    }
}
@media (max-aspect-ratio: 16/9) {   /* 뷰포트 너비가 16/9 비율 이하면 실행 */
    #trailer_2 > iframe {
      /* width = 100 / (9 / 16) = 177.777777 */
      width: 177.78vh;
    }
}

#trailer_description {
    background-color: #333;
    position : absolute; /* 가장 가까운 상위요소(trailer_2)를 기준으로 배치 */
    top : 25%;
    left : 10%;
    padding : 20px 40px;
    width : 30vw;
    opacity: 0.7;
    z-index:2;
    overflow: hidden;
}

#trailer_description > p, #trailer_description > h2 {
    color :aliceblue;
    pointer-events: none;
}

#trailer_description > ul > li {
    display: inline-block;
    list-style-type: none;
    margin : 0 20px;
}

#trailer_description > ul > li > a {
    text-decoration-line: none;
    color :aliceblue;
}

/* 무비차트 영역 */
#movie_chart {
    padding : 20px 0px;
    background-color:beige;
}
.tap_button_wrap {
    padding : 30px 20px;
}
.tap_button_wrap > h2 {
    display: inline-block;
    margin : 0 20px;
}
.tap_button_wrap > h2 > a {
    text-decoration-line: none;
    color : black;
    font-size: 1em;
}
.vertical_line {
    display: inline-block;
    border-left:3px solid black;
    height:32px;
    position : absolute;
}
/*
#movie_chart_list {
    display: flex;
    justify-content: space-around;
    margin-top : 20px;
}
#movie_chart_list_wrap {
    display: flex;
    width : 80vw;
    justify-content: space-around;
}
.chart_list {
    display: flex;
    flex-direction: column;
}
.list_img > a > img {
    width : 200px;
    height : 250px;
    border-radius : 20px;
}
.list_description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.satisfaction {
    margin-right:10px;
}
@media screen and (orientation:portrait) {
    .tap_button_wrap {
        display: flex;
        justify-content: center;
    }
}
@media (hover:hover) {
    .tap_button_wrap > h2 > a {
        color:#FF9100;
    }
}
@media screen and (orientation:portrait) {
    #movie_chart_list_wrap {
        flex-direction: column;
        align-items: center;
    }
} */
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
    justify-content: center;
}



.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}
#recipeCarousel {
    display: flex;
    justify-content: center;
}
.carousel-inner {
    width:80vw;
}

.col-md-2 {
    margin : 0 10px;
    width : 200px;
}
.card-rating {
    position : absolute;
    font-weight: 400;
    font-size:50px;
    font-style:italic;
    color:aliceblue;
    left:9px;
    top : 120px;
    background-color: #333;
    width:30px;
    line-height: 1em;
    border-radius: 50px;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-description {
    display: inline-block;
}
.movie_chart_prev {
    top : 35%;
    width : 5vw;
    height : 7vh;
    border-radius: 100%;
    position : absolute;
    background-color:#e94d0531;
}
#movie_chart_prev_icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
}
.movie_chart_next {
    top : 35%;
    width : 5vw;
    height : 7vh;
    border-radius: 100%;
    position : absolute;
    background-color:#e94d0531;
}
#movie_chart_next_icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}


/* 이벤트 영역 */
#event_list_wrap {
    padding-left : 30px;
    padding-top : 20px;
    padding-bottom: 30px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    background-color:#B9E2FA;
}
#event_title_wrap {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    gap : 20px;
}
/* #event_title_wrap:nth-child(n+2) {
    display: grid;
    align-items: center;
    justify-items: center;
} */
.event_pause_btn {
    display: grid;
    align-items: center;
    justify-items:flex-end;
}
.event_all_view_btn {
    display: grid;
    align-items: center;
}
.event_all_view_btn > a {
    display: inline-block;
    text-decoration: none;
    color:black;
    width : 80px;
}
#event_img_wrap {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template : 1fr / 1fr 1fr 1fr 1fr 1fr;
    /* grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr; */
}
.event_list {
    display: grid;
    height:250px;
    grid-template-rows: 3fr 1fr;
}
.event_list_img {
    width : 250px;
}
.event_list_img > a > img {
    border-radius: 10px;
}
.event_list_description {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.event_description_title {
    width : 250px;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap; /* 연속된 공백을 하나로 합침 */
    font-weight: bold;
}
@media screen and (orientation:portrait) {
    /* 세로모드일 때 아래를 실행 */
    #event_title_wrap {
        height : 20vh;
    }
}
@media screen and (orientation:portrait) {
    /* 세로모드일 때 아래를 실행 */
    .event_pause_btn, .event_all_view_btn {
        align-items: flex-start;
        padding : 30px 0;
    }
}
@media screen and (orientation:portrait) {
    /* 세로모드일 때 아래를 실행 */
    #event_list_wrap {
        grid-template: 1fr / 1fr;
    }
}
@media screen and (orientation:portrait) {
    /* 세로모드일 때 아래를 실행 */
    #event_img_wrap {
        grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr;
        justify-items: center;
    }
}
@media screen and (orientation:portrait) {
    /* 세로모드일 때 아래를 실행 */
    .event_list_img > a > img {
        width : 200px;
    }
}