header {
    border:0.5px dashed red;
}

nav {
    border:0.1px dashed blue;
    /* background-color: #FF9100; */
    left:0;
    position : sticky;
    top:0;
}

main {
    border:0.5px dashed #FF9100;
    height : 1000px;
}

footer {
    border:0.5px dashed black;
}

/* 상단 배너 영역 */
.banner > a > img {
    width:100%;
    height:100%;
}

/* sub_header 영역 */
.sub_header {
    height:200px;
    border:0.1px dashed yellow;
}
.logo_img {
    border : 0.1px dashed red;
    display:inline-block;
    /* a 태그도 인라인태그니까 인라인 배치하면서 블록으로 설정하여 크기 조정하려는 의도 */
    padding:40px 30px;
    /* 로고 이미지(a태그)를 수직,수평으로 가운데 정렬한다.(패딩으로 모든 방향의 값을 같게 줌) */
    /* background-color: black; */
}

/* 로그인 영역 */
#login {
    /* display: inline-block; */
    /* inline-block 값을 주었지만 밑에 있는 float속성이 block을 무시한다는 경고문이 등장하여 제거하였음. */
    position : relative;   /* 부모영역은 sub_header */
    top : 0px;
    float: right;
    /* float 속성을 right로 줌으로써 span태그인 login을 오른쪽에 떠있게 한 것 */
    /* 주관적으로 정리하자면 inline-block이 적용되면 발생하는 공백 문제를 해결할 때 float 속성을 떠올리면 될 것 같다..? */
    background-color:#B9E2FA;
}
#login > h2 {
    position : relative;
    left : 50px;
    /* 부모요소인 login을 기준으로 위치 정렬 */
}
#login > form{
    /* form은 block 태그 */
    background-color: gray;
}
.log_input_wrap {
    display: inline-block;
    position : relative;
    /* 부모요소인 폼태그를 기준으로 위치 정렬 */
    padding : 30px 10px;
    /* background-color: red; */
}
.log_email_wrap {
    margin : 10px;
    /* 라벨과 인풋 사이 넓히기 */
}
.log_btn_wrap {
    display: inline-block;
    position:relative;          /* 부모요소는 form */
    bottom : 20px;
    /* background-color: green; */
}
.log_btn_wrap > button {
    background-color: brown;
    color: aliceblue;
    padding : 20px;
    margin: 10px 10px;
}

/* 네비게이션바 영역 */
.nav_bar_wrap {
    position:relative;
    /* 부모요소인 nav태그를 기준으로 정렬할 생각 */
    display:inline-block;
    width : 70%;
    background-color: yellow;
}

.nav_bar_wrap > ul > li {
    display: inline-block;
    /* ul이 블록레벨이니까 inline으로 줘서 좌우로 펼치게 */
    list-style-type: none;
    margin : 0px 20px;
}

.nav_bar_wrap > ul > li > a {
    display : block;
    /* a 태그가 인라인이니까 크기 조절을 위해 block */
    width : 70px;
    padding : 10px;
    text-align: center;
    /* background-color: red; */
}

.search {
    display: inline-block;
    margin : 0px 40px;
}